@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos gerais */
  body {
    font-family: "Raleway", sans-serif;
    background-color: white;
    
  }
  
  .container {
    
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nav ul {
     
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-right: 100px;
  }
  
  .navbar-brand {
    margin-right: auto;
  }
  
  .nav-item {
    color: #efb810;
    margin: 0 10px;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #252525;;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos do conteúdo principal */
  section {
    padding: 40px 0;
    text-align: center;
  }
  
  section h1, section h2 {
    color: #0078d7;
  }
  
  section p {
    margin-bottom: 20px;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #252525;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .cookie-alert {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .cookie-alert button {
    margin: 10px;
  }
  .p{
    color: #efb810;
  }
  